build/
release/
sysroot/
.vscode/
.idea/
result

modules/ps2kbd/
modules/ps2mouse/

.DS_Store
Brewfile.lock.json
*.o
*.d
*.iso
*.img
*.log

uefi_nvram.json
.config*

initrd/**/bin

src/toybox/upstream/

libc/mlibc-sysroot
libc/toolchain

binutils*/
gcc*/

binutils*.tar*
gcc*.tar*

kernel/include/config.h
